<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [4]:
display(df.groupby(by='gender')['height'].mean()) # => 1 = female, 2 = male
df['gender'].value_counts()

gender
1    161.355612
2    169.947895
Name: height, dtype: float64

1    45530
2    24470
Name: gender, dtype: int64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [5]:
display(df.groupby(by='gender')['alco'].mean())

gender
1    0.025500
2    0.106375
Name: alco, dtype: float64

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [6]:
df.groupby(by='gender')['smoke'].mean()

gender
1    0.017856
2    0.218880
Name: smoke, dtype: float64

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [7]:
print(df['age'].mean())
display(df.groupby(by='smoke')['age'].median())

19468.8658143

smoke
0    19722
1    19125
Name: age, dtype: int64

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [8]:
df['age_years'] = (df['age']/365).astype(int)
smoke_mans = df[(df['gender'] == 2) & (df['smoke'] == 1) & (df['age_years'] >= 60) & (df['age_years'] <= 64)]
p1 = smoke_mans[(smoke_mans['ap_hi'] < 120) & (smoke_mans['cholesterol'] == 1)]['cardio'].mean()
p2 = smoke_mans[(160 <= smoke_mans['ap_hi']) & (smoke_mans['ap_hi'] < 180) & (smoke_mans['cholesterol'] == 3)]['cardio'].mean()
print('p1 = %.3f, p2 = %.3f \nratio = %.3f' % (p1, p2, p2/p1))

p1 = 0.278, p2 = 0.933
ratio = 3.360

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [9]:
df['bmi'] = df['weight']/(df['height'] * df['height']) * 10000
df.head()
display(df['bmi'].median())
print('female bmi = %.3f \nmale bmi   = %.3f' % (df[df['gender'] == 1]['bmi'].mean(), \
                                                 df[df['gender'] == 2]['bmi'].mean()))

print('unhealthy bmi = %.3f \nhealthy bmi   = %.3f' % (df[df['cardio'] == 1]['bmi'].mean(), \
                                                 df[df['cardio'] == 0]['bmi'].mean()))

print('female (healthy and undrunk) bmi = %.3f \nmale (healthy and undrunk) bmi   = %.3f' % (df[(df['gender'] == 1) & (df['alco'] == 0) & (df['cardio'] == 0)]['bmi'].mean(), \
                                                                                             df[(df['gender'] == 2) & (df['alco'] == 0) & (df['cardio'] == 0)]['bmi'].mean()))

26.37406812077498

female bmi = 27.988
male bmi   = 26.754
unhealthy bmi = 28.566
healthy bmi   = 26.548
female (healthy and undrunk) bmi = 26.845
male (healthy and undrunk) bmi   = 25.873

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [10]:
dirty_df = df.copy()

In [11]:
df = dirty_df.copy()
height = (df['height'] >= df['height'].quantile(.025)) & (df['height'] <= df['height'].quantile(.975))
weight = (df['weight'] >= df['weight'].quantile(.025)) & (df['weight'] <= df['weight'].quantile(.975))
wrong_ap = df['ap_hi'] >= df['ap_lo']
print(height.mean())
print(weight.mean())
print(wrong_ap.mean())
df = df[height & weight & wrong_ap]
display(df.info())
display(dirty_df.info())

0.957485714286
0.955671428571
0.982371428571
<class 'pandas.core.frame.DataFrame'>
Int64Index: 63259 entries, 0 to 99999
Data columns (total 14 columns):
age            63259 non-null int64
gender         63259 non-null int64
height         63259 non-null int64
weight         63259 non-null float64
ap_hi          63259 non-null int64
ap_lo          63259 non-null int64
cholesterol    63259 non-null int64
gluc           63259 non-null int64
smoke          63259 non-null int64
alco           63259 non-null int64
active         63259 non-null int64
cardio         63259 non-null int64
age_years      63259 non-null int64
bmi            63259 non-null float64
dtypes: float64(2), int64(12)
memory usage: 7.2 MB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 14 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
age_years      70000 non-null int64
bmi            70000 non-null float64
dtypes: float64(2), int64(12)
memory usage: 8.0 MB

None